/* style.css */

html, body {
  height: 100%;
}



body {
  margin: 0;
  display: flex;
  color: white;
  
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
.bg {
  /* The image used */
  background-image: url("f1racer.gif");

}
